* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'office_code_pro_dlight', sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #151c24;
  color: #fff;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'regloregular', serif;
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #FE787C;
  text-decoration: none;
}

iframe {
  border: 0;
}

.clearfix:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

.App {
  width: 100%;
  height: 100%;
  padding: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.App:after {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('../assets/images/bg.jpeg');
  background-size: cover;
}
