.Billboard {
  position: relative;
  padding: 5em;
  width: 640px;
  line-height: 1;
  text-align: center;
}

.Billboard.-white {
  color: #151c24;
}

.Billboard > * {
  position: relative;
  z-index: 3;
}

.Billboard-border, .Billboard-accent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  background-color: rgba(21,28,36,1);
  z-index: 2;
}

.Billboard.-white .Billboard-border {
  background-color: white;
}

.Billboard-accent {
  top: 1em;
  left: 1em;
  z-index: 1;
  background-color: rgba(21,28,36,0.5);
}

.Billboard-title {
  font-family: 'regloregular', serif;
  font-size: 5em;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.Billboard-subtitle {
  margin-top: 1em;
  color: #47BECF;
  font-size: 2em;
}
