.MainNav ul {
  margin: 0 0 1em;
  padding: 0 0 0 1em;
  list-style: none;
  border-left: 1px solid #FE787C;
}

.MainNav a {
  transition: all 150ms ease;
}

.MainNav a.active {
  font-weight: 700;
  color: #FE787C;
}
